snowflake-snowpark-python[pandas]
snowflake
snowflake-cli-labs>=0.3.0
pandas>=2.0.0
snowflake-connector-python>=3.0.0
flask>=2.3.0
flask-httpauth>=4.4.0
sshtunnel==0.4.0
paramiko==2.12.0
matplotlib>=3.5.0
numpy>=1.21.0
setuptools>=68.0.0